@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    line-height: 1.15;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }

  body {
    @apply flex min-h-dvh flex-col font-sans m-0 bg-slate-50 text-slate-700;
  }
}
